<footer class="custom-footer bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path, class: "text-light" %></li>
          <li><%= link_to "Explore", about_path, class: "text-light" %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>About Us</h5>
        <ul class="list-unstyled">
          <li><%= link_to "About", about_path, class: "text-light" %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Partnerships</h5>
        <ul class="list-unstyled">
          <!-- Add partnership links here -->
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Connect</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Email", "https://mail.google.com/mail/u/0/#inbox?compose=new", class: "text-light" %></li>
          <li><%= link_to "Facebook", "https://web.facebook.com/profile.php?id=61551524935320", class: "text-light" %></li>
          <li><%= link_to "Twitter", "https://twitter.com/myles_home", class: "text-light" %></li>
          <li><%= link_to "Instagram", "#", class: "text-light" %></li>
          <li><%= link_to "Tik Tok", "https://www.tiktok.com/@myles_home", class: "text-light" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
