<div class="container mt-5">
  <p class="alert alert-success"><%= notice %></p>

  <%= render @review %>

  <div class="mt-3">
    <%= link_to "Edit this review", edit_review_path(@review), class: "btn btn-secondary" %> |
    <%= link_to "Back to Reviews", reviews_path, class: "btn btn-dark" %> |
    <%= button_to "Delete this review", @review, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
  </div>
</div>

